node_modules/
.npm
.env
.env.local
.env.production
dist/
build/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
coverage/
cypress/videos/
cypress/screenshots/
uploads/*
!uploads/.gitkeep
postgres_data/
!uploads/.gitkeep
